body {
	font-family: 'Raleway', sans-serif;
}
.header-bg{
	background: url(../images/splash2.jpg) no-repeat 0px 0px;
	background-size: cover;
	min-height: 700px;
	position:relative;
}
.header-layer{
	background: rgba(0, 0, 0, 0.64);
	min-height: 700px;
}
.header-top {
	padding-top: 4em;
}
.head-logo{
	height: 40px;
	width: 40px;
}
.top-nav{
	float:right;
}
.right_bt span {
	width: 38px;
	height: 26px;
	text-align: right;
	display: inline-block;
	background: url(../images/menu.png) no-repeat 0px 0px;
}
.divice12{
	display:none;
}
.box{
	position:absolute;
	top:-1200px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background: rgba(250, 105, 78, 0.89);
	min-height: 700px;
}
.nav-icon {
	padding-top: 2em;
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 2.5em;
	right: 14.5em;
 }
.menu_box_list{
	display: inline-block;
	padding: 12.4em 0;
}
.menu_box_list ul {
	margin: 0;
	padding: 0;
}
.menu_box_list ul li {
	display:block;
	margin: 2em 0;
}
.menu_box_list li a{
	color: #FFF;
	font-size: 26px;
	font-family: 'Montserrat', sans-serif;
	display: block;
	text-decoration:none;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.1em;
}
.menu_box_list li a:hover{
	color:#000;
	text-decoration: none;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
placeholder{
	color:#222;
}
.boxclose span{
	width:58px;
	height:73px;
	display:inline-block;
	background: url(../images/into.png) no-repeat -0px -46px;
}
.boxclose span:hover{
	background: url(../images/into.png) no-repeat -0px 14px;
}
ul.button {
	padding: 2em;
	width: 100%;
	margin: 0 auto;
}
ul.button li{
	margin-left: 8px;
	list-style: none;
	display: inline-block;
}
ul.button li a{
	color: rgb(51, 48, 48);
	padding: 0.8em 2em;
	border: 2px solid #fff;
	text-decoration: none;
	font-weight:600;
	font-size: 1.3em;
}
.active,
ul.button li a:hover{
	background:#fff;
	color:#666;
}
.head-info {
	position: absolute;
	top: 35%;
	left: 30%;
	width: 42%;
	text-align: center;
}
.head-info h2{
	color:#FFF;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
.head-info p{
	color: #FFF;
	font-size: 42px;
	margin: 2em 0 3em 0;
}
.botton a{
	padding: .8em 3em;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	background: #FA694E;
	color: #FFF;
	border:solid 1px #FA694E;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius:5px;
}
.botton a:hover{
	color:#FA694E;
	background:none;
	text-decoration:none;
	border:solid 1px #FFF;
	transition:.5s all;
	-webkit-transition:.5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
}
/*-- service --*/
.service{
	background:#FFF;
	padding: 4em 0;
}
/* .service-grid{
	text-align:center;
} */
.service-grid h3{
	color: #0c0c0c;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin: 3em 0;
}
.service-grid p{
	font-size:16px;
	margin:0;
	color:#0e0d0d;
}
.creative{
	/* background:url(../images/icons.png) no-repeat 0px 0px; */
	width:108px;
	height:108px;
	margin:0 auto;
}
.skills{
	/* background: url(../images/icons.png) no-repeat -109px 0px; */
	width:108px;
	height:108px;
	margin:0 auto;
}
.help{
	/* background: url(../images/icons.png) no-repeat -219px 0px; */
	width:108px;
	height:108px;
	margin:0 auto;
}
/* .service-left:hover div.creative{
	background: url(../images/icons.png) no-repeat 0px -115px;
} */
/* .service-middle:hover div.skills{
	background: url(../images/icons.png) no-repeat -109px -115px;
}
.service-right:hover div.help{
	background: url(../images/icons.png) no-repeat -219px -115px;
} */

/*-- contact --*/
.contact{
	padding: 5em 0;
}
.contact-info{
	text-align:center;
	margin-bottom: 3em;
}
.contact-info h2{
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	margin: 0;
}
.contact-info p{
	color: #808080;
	margin: 1em 0 0 0;
	font-size: 16px
}
.map{
	position:relative;
}
.map iframe
{
	width: 100%;
	min-height: 300px;
	border: none;
}
.location{
	position: absolute;
	top: 30%;
	left: 39%;
}
.find{
	background: #333333;
	position:relative;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.find p{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	margin:0;
	color:#FA694E;
	padding: 2.5em 4em;
}
.arrow{
	background: url(../images/icons.png) no-repeat -87px -232px;
	width: 27px;
	height: 12px;
	position: absolute;
	left: 44%;
	top: 98%;
}
.contact-bottom {
	margin-top: 5em;
}
form input[type="text"] {
	width: 48%;
	color: #898888;
	outline: none;
	font-size:16px;
	padding: .8em;
	background:#F1F4F7;
	border: none;
	-webkit-appearance: none;
}
form input.mail[type="text"] {
	float:right;
}
form input.subject[type="text"] {
	width: 100%;
	margin: 2em 0;
}
form textarea {
	resize: none;
	width: 100%;
	color: #898888;
	background:#F1F4F7;
	font-size:16px;
	outline: none;
	padding: .8em;
	border: none;
	min-height: 175px;
	-webkit-appearance: none;
}
form input[type="submit"]{
	border: none;
	outline: none;
	padding: .5em 0;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	background: #FA694E;
	border:solid 1px #FA694E;
	font-size: 20px;
	margin: 1.5em 0 0 0;
	width: 100%;
	-webkit-appearance: none;
}
form input[type="submit"]:hover{
	border: solid 1px #808080;
	color:#FA694E;
	background:none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
}
.bottom-right{
	width: 54%;
	margin: 0 auto;
}
.bottom-right h3{
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin: 0 0 1.5em 0;
}
.bottom-right p{
	color: #808080;
	margin: 0 0 2em 0;
	font-size: 16px
}
.bottom-right p a{
	color: #808080;
	margin: 0 0 2em 0;
	font-size: 16px
}
.bottom-right p span{
	display:block;
}
/*-- footer --*/
.footer{
	background:#333333;
	padding: 6em 0;
	height: auto;
	border:solid 2px rgb(14, 13, 13);
	width: 100%;
	
}
.footer-left{
	float:left;
}
.footer-left p{
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
	color:#FFF;
	margin: .8em 0 0 0;
}
.footer-left p a{
	color:#FFF;
	text-decoration:none;
}
.footer-left p a:hover{
	color:#FA694E;
	transition:.5s all;
	-webkit-transition:.5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
}
.footer-right{
	float:right;
}
.footer-right ul{
	padding:0;
	margin:0;
}
.footer-right ul li{
	display:inline-block;
}


.profile img {
    /* margin-right: 30px; */
    margin-top: 54px;
    border-radius: 40%;
    margin-left: 105px;
}

/*-- to-top --*/